.blog {
    text-align: center;
    font-size: 30px;
    padding: 4em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    gap: 1em;
}

.contact {
    background: #217272;
    padding: 4em 0em;

}

.button {
    width: max-content;
    padding: 15px 28px;
}